docker-compose.yml

# Hidden files
.DS_Store
Thumbs.db
.env

# Compiled files
build
node_modules

# IDE files
.vscode
.idea

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
