name: Boller Bot

on:
    pull_request:
        branches:
            - master
        paths:
            - "boller-bot/src/**"
    push:
        branches:
            - master
        paths:
            - "boller-bot/src/**"

jobs:
    Lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Bun
              uses: oven-sh/setup-bun@v1
            - run: bun install
            - name: Run biome check
              run: cd boller-bot && bun run check
    Typecheck:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Bun
              uses: oven-sh/setup-bun@v1
            - run: bun install
            - name: Run typechecking
              run: cd boller-bot && bun run typecheck

    Dockerize:
        runs-on: ubuntu-latest
        needs: [Lint, Typecheck]
        if: github.ref == 'refs/heads/master'
        steps:
            - uses: actions/checkout@v4
            - name: get-npm-version
              id: package-version
              uses: martinbeentjes/npm-get-version-action@main
              with:
                  path: boller-bot
            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_TOKEN }}
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
            - name: Build and upload Docker image
              run: docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/boller-bot:${{ steps.package-version.outputs.current-version }} -t ${{ secrets.DOCKER_USERNAME }}/boller-bot:latest -f ./boller-bot/Dockerfile --platform=linux/arm64,linux/amd64 -o type=registry .
